.footer {
   background-color: var(--accent);
  padding: 5% 0;
  color: #fff;
  text-align: center;
  a {
    background-color: inherit;
    mix-blend-mode: difference;
    color: inherit;
    text-decoration: underline;
  }
}