.row, .hero__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.ac, .ac.hero__list {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .row.as, .as.hero__list {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .row.ab, .ab.hero__list {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .row.jc, .jc.hero__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.jsb, .jsb.hero__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .row.jsa, .jsa.hero__list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .row.reverse, .reverse.hero__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    @media (max-width: 800px) {
      .row.reverse, .reverse.hero__list {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial; } }

@-ms-viewport {
  width: device-width;
  initial-scale: 1; }

@-moz-viewport {
  width: device-width;
  initial-scale: 1; }

@-webkit-viewport {
  width: device-width;
  initial-scale: 1; }

*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

video, audio, canvas {
  display: inline-block; }

span {
  display: inline-block; }

a, input, button, textarea, optgroup, select, fieldset, figure, legend, address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0; }

a, button, [type='button'], [type='submit'] {
  -webkit-transition: color .25s, background .25s, opacity .25s;
  -o-transition: color .25s, background .25s, opacity .25s;
  transition: color .25s, background .25s, opacity .25s; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none; }

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit; }

p {
  margin: 0;
  overflow: hidden; }

b, strong {
  font-weight: 700; }

img, svg, embed, object, iframe, video, audio, canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0; }

img {
  image-rendering: optimizeQuality; }

svg {
  color: inherit; }
  svg:not(:root) {
    overflow: hidden; }

progress {
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0; }

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none; }

input, select, button, button > *, a > * {
  display: inline-block;
  vertical-align: middle; }

button, label, select, summary, [type='button'], [type='submit'], [type='reset'], [type='checkbox'], [type='radio'], [type='range'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

[type='button'], [type='submit'], [type='search'], [type="radio"], [type='range'], ::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-slider-thumb {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

::-webkit-contacts-auto-fill-button, ::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0; }

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
  box-shadow: inset 0 0 0 1000px #fff; }

::-webkit-details-marker {
  display: none; }

[type="radio"] {
  -webkit-appearance: radio; }

[type='number'] {
  -moz-appearance: textfield; }

::-ms-clear, ::-ms-reveal {
  display: none; }

input, textarea {
  width: 100%; }

input {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

textarea {
  overflow: auto;
  resize: none; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

:disabled {
  pointer-events: none; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

::placeholder, ::-moz-placeholder {
  opacity: 1; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0;
  text-align: center; }

article p:not(:empty) {
  margin-top: .7em;
  margin-bottom: .7em; }

article img, article embed, article object, article iframe, article video {
  display: block;
  margin: auto; }

article span {
  display: inline; }

article ul, article ol, article menu {
  margin-top: .7em;
  margin-bottom: .7em; }
  article ul ul, article ul ol, article ul menu, article ol ul, article ol ol, article ol menu, article menu ul, article menu ol, article menu menu {
    margin: 0;
    padding-left: 1.3em; }
  article ul > li:before, article ol > li:before, article menu > li:before {
    margin-right: .7em; }
  article ul > li p, article ol > li p, article menu > li p {
    display: inline; }

article ul > li:before, article menu > li:before {
  content: '';
  width: .4em;
  height: .4em;
  display: inline-block;
  vertical-align: 10%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000; }

article ul > li li:before, article menu > li li:before {
  background: transparent; }

article ol {
  counter-reset: count; }
  article ol > li:before {
    content: counter(count) ".";
    counter-increment: count; }

html {
  font-family: "Roboto", Arial, sans-serif;
  color: #222;
  font-size: 20px; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 300; }

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

a {
  display: inline-block;
  vertical-align: middle; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px; }

.section {
  padding: 5% 0;
  text-align: center; }
  @media (max-width: 700px) {
    .section {
      padding: 10% 0; } }

/*grid*/
.col-4 {
  max-width: 25%;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.col-3 {
  max-width: 33.33333%;
  -webkit-flex-basis: 33.3333%;
  -ms-flex-preferred-size: 33.3333%;
  flex-basis: 33.3333%; }

.col-2 {
  max-width: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

[class*="col"] {
  padding: 0 10px; }
  @media (max-width: 900px) {
    [class*="col"] {
      max-width: 50%;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media (max-width: 600px) {
    [class*="col"] {
      max-width: 100%;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 30px;
  height: 30px;
  margin: auto;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-animation: fly 3s ease-in-out infinite;
  animation: fly 3s ease-in-out infinite; }
  @media (max-width: 600px) {
    .scroll-down {
      bottom: 2%; } }

@-webkit-keyframes fly {
  0%, 100% {
    bottom: 8%; }
  50% {
    bottom: 3%; } }

@keyframes fly {
  0%, 100% {
    bottom: 8%; }
  50% {
    bottom: 3%; } }

.header, .donation {
  position: relative;
  color: #fff;
  height: 60vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  z-index: 1; }
  .header:after, .donation:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.25); }
  .header .container, .donation .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%; }

.section__uptitle {
  text-transform: uppercase;
  font-size: 18px; }
  @media (min-width: 320px) {
    .section__uptitle {
      font-size: calc(0.00185 * 100vw + 17.40741px); } }
  @media (min-width: 1400px) {
    .section__uptitle {
      font-size: 20px; } }

.section__header {
  font-size: 40px; }
  @media (min-width: 320px) {
    .section__header {
      font-size: calc(0.03519 * 100vw + 28.74074px); } }
  @media (min-width: 1400px) {
    .section__header {
      font-size: 78px; } }
  .section__header .mounth {
    color: transparent;
    -webkit-text-stroke: 1px var(--accent);
    text-shadow: -5px -2px var(--accent), -4px -1px #fff;
    background: -webkit-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    background: -o-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    background: repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    -webkit-background-clip: text;
    font-weight: 700; }

.section__title {
  font-size: 30px; }
  @media (min-width: 320px) {
    .section__title {
      font-size: calc(0.01111 * 100vw + 26.44444px); } }
  @media (min-width: 1400px) {
    .section__title {
      font-size: 42px; } }

.section__descr {
  font-size: 18px; }
  @media (min-width: 320px) {
    .section__descr {
      font-size: calc(0.00556 * 100vw + 16.22222px); } }
  @media (min-width: 1400px) {
    .section__descr {
      font-size: 24px; } }

.hero__list {
  margin: 0 -10px; }

.hero__item {
  margin-bottom: 5%;
  text-align: center; }

.hero__avatar, .hero__boss-avatar {
  margin-bottom: 3%; }
  .hero__avatar img, .hero__boss-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.hero__boss {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5% 0; }

.hero__boss-avatar {
  width: 33%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden; }
  @media (max-width: 750px) {
    .hero__boss-avatar {
      width: 60%; } }
  @media (max-width: 600px) {
    .hero__boss-avatar {
      width: 100%; } }

.hero__boss-name {
  font-size: 20px;
  margin-bottom: .3em; }
  @media (min-width: 320px) {
    .hero__boss-name {
      font-size: calc(0.00556 * 100vw + 18.22222px); } }
  @media (min-width: 1400px) {
    .hero__boss-name {
      font-size: 26px; } }

.hero__name {
  font-size: 18px; }
  @media (min-width: 320px) {
    .hero__name {
      font-size: calc(0.0037 * 100vw + 16.81481px); } }
  @media (min-width: 1400px) {
    .hero__name {
      font-size: 22px; } }

.hero__date {
  font-weight: 700; }

.condition {
  padding: 0; }

.condition__title {
  position: relative;
  max-width: 25em;
  padding: 1.5em 0;
  margin: 0 auto;
  font-size: 28px; }
  @media (min-width: 320px) {
    .condition__title {
      font-size: calc(0.00926 * 100vw + 25.03704px); } }
  @media (min-width: 1400px) {
    .condition__title {
      font-size: 38px; } }
  .condition__title:before, .condition__title:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4em;
    height: 1px;
    background-color: currentColor; }
  .condition__title:before {
    top: 0; }
  .condition__title:after {
    bottom: 0; }

.help {
  height: 60vh; }
  .help .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .help .section__header {
    line-height: 1;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px var(--accent);
    text-shadow: -5px -2px var(--accent), -4px -1px #fff;
    background: -webkit-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    background: -o-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    background: repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
    -webkit-background-clip: text; }

.promise {
  position: relative;
  padding: 5% 0 10% 0; }
  .promise .section__descr {
    max-width: 770px;
    margin: 0 auto; }
    .promise .section__descr p {
      font-size: 20px;
      line-height: 2;
      margin-bottom: 2em; }
      .promise .section__descr p.notice {
        margin-top: 18%;
        font-size: .7em;
        line-height: 1.5; }
      .promise .section__descr p:last-of-type {
        margin-bottom: 0; }
  .promise:before, .promise:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '\223C';
    font-size: 40px;
    line-height: .5;
    color: var(--accent); }
  .promise:before {
    top: 0; }
  .promise:after {
    bottom: 10%; }

.donation__text {
  font-size: 28px;
  font-weight: 500; }
  @media (min-width: 320px) {
    .donation__text {
      font-size: calc(0.00926 * 100vw + 25.03704px); } }
  @media (min-width: 1400px) {
    .donation__text {
      font-size: 38px; } }

.donation__amount {
  display: block;
  font-weight: 900;
  font-size: 2em;
  margin: .3em;
  color: transparent;
  -webkit-text-stroke: 1px var(--accent);
  text-shadow: -5px -2px var(--accent), -4px -1px #fff;
  background: -webkit-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
  background: -o-repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
  background: repeating-linear-gradient(45deg, var(--accent), var(--accent) 1px, transparent 2px, transparent 3px);
  -webkit-background-clip: text; }

.rulles .section__descr {
  max-width: 700px;
  margin: 5% auto;
  line-height: 1.5; }

.rulles__list {
  max-width: 80%;
  margin: 0 auto;
  text-align: left; }

.rulles__item {
  position: relative;
  padding-left: 5em;
  margin-bottom: 1.2em; }
  .rulles__item:before, .rulles__item:after {
    content: '';
    position: absolute;
    top: 0;
    color: #fff; }
  .rulles__item:before {
    left: 0;
    width: 3em;
    height: 3em;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: var(--accent); }
  .rulles__item:after {
    left: 1.2em;
    top: .35em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1em;
    height: 1.5em;
    border-bottom: 2px solid;
    border-right: 2px solid; }
  .rulles__item p {
    font-size: 18px;
    margin-bottom: 1em; }
    @media (min-width: 320px) {
      .rulles__item p {
        font-size: calc(0.0037 * 100vw + 16.81481px); } }
    @media (min-width: 1400px) {
      .rulles__item p {
        font-size: 22px; } }
    .rulles__item p:last-of-type {
      margin-bottom: 0; }

.footer {
  background-color: var(--accent);
  padding: 5% 0;
  color: #fff;
  text-align: center; }
  .footer a {
    background-color: inherit;
    mix-blend-mode: difference;
    color: inherit;
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */