
@import 'container.scss';


.card{
    display: flex;

    &__item{
        display: flex;
        flex-direction: column;
        padding: 50px;
        flex:1
    }
    &__img{
        max-width: 100%;
    }
    
}

.cart{
    margin-top: 20px;
    
    &__totalSumm{
        background-color: #fff;
        outline: none;
        border: none;
        min-width: none;
    }
}
